{% extends "base.html" %}
{% load static %}
{% block title %}Editar Líder{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/projeto.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    :root{
    --primary-color: #122f4e;
    --secondary-color: #94c11f;
    --text-white: white;
    --text-black: black;
    }
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: Alatsi;
            color: white
        }

        div.parte1{
            display: list-item;
            background-image: url("{% static 'img/header.png'%}");
            height: 50em;
            width: 100%;
            background-size: cover;
         
            box-sizing: border-box;
        }
        div.parte1 h1 {
            color: white;
            font-size: 40px;
            margin: 0;
            padding-top: 1em;
        }
        form label {
            margin-top: 50px;
            color: white;
            font-family: Inter;
            font-size: 23px;
            font-weight: bold;
        }
        form input {
            width: 100%;
            max-width: 30em; 
            background: transparent;
            border: none;
            border-bottom: 1px solid #a8d34a;
            color: rgb(253, 252, 252);
            font-size: 20px;
            padding: 5px 0;
            outline: none;
            margin-top: 30px;
        }
        div.lider_colab {
            font-family: Alatsi;
            display: flex;
            align-items: center;
            gap: 2em;
            margin-bottom: 2em;
        }
        div.lider_colab img {
            width: 50%;
            padding-top: 3em;
            padding-left: 2em;
        }
        div.profissao textarea {
            margin-top: 3em;
            width: 40%;
            height: 2em;
            padding: 15px;
            border: 2px solid #c4ecaa;
            border-radius: 20px;
            font-size: 20px;
            color: #5f5f5f;
            outline: none;
        }
        div.profissao label {
            font-family: Inter;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            color: #122f4e;;
            margin-top: 3em;
        }
        div.profissao{
            text-align: center;
        }
        button{
            text-align: center;
            margin-left: 52em;
            margin-bottom: 3em;
            background-color: var(--secondary-color);
            color: var(--text-white);
            border: none;
            width: 10em;
            border-radius: 10px;
            padding: 1em;
            margin-top: 2em;
            font-size: 1em;
        }
        div.foto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding-top: 130px;

        }
        div.foto p{
            padding-top: 2em;
        }
        div.foto label{
            margin-top:  0;
        }
        div.info{
            display: flex;
            justify-content: space-around;
        }
        div.foto img{
            max-width: 15em;
            padding-top: 25px;
            border-radius: 50%;
        }
        div.info1{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        form input.nova_foto{
            font-size: 14px;
            color: var(--secondary-color);
        }
        button:hover{
            background-color: var(--primary-color);;
        }
        /* css create*/
        .infos{
            margin-right: 35em;
            flex-direction: column;
            display: flex;
            gap: 2em;
        }
        .senha label{
            color: white;
            font-size: 20px;
        }
        .senha input{
            width: 100%;
            max-width: 12em; 
            background: transparent;
            border: none;
            border-bottom: 1px solid #a8d34a;
            color: white;
            font-size: 20px;
            padding: 5px 0;
            outline: none;
        }
        .senha img{
            max-width: 50px;
        }
        .senha{
            gap: 2em;
            display: flex;
            margin-top: 4em;
        }

        
        .discorrer textarea {
            margin-top: 3em;
            width: 40%;
            height: 15em;
            padding: 15px;
            border: 2px solid #c4ecaa;
            border-radius: 20px;
            font-size: 20px;
            color: #5f5f5f;
            resize: none;
        }
        .discorrer label {
            font-family: Inter;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            color: #122f4e;;
            margin-top: 3em;
        }
        .discorrer{
            text-align: center;
        }
        
        .infos_colab {
            display: flex;
            padding-top: 8em;
            margin-left: 6em;
        }



        .infos_colab span {
            color: white;
            font-family: Inter;
            font-size: 1em;
            margin-right: 10px;
        }
        .lider label{
            color: white;
            font-size: 20px;
            font-family: Inter;
            padding: 15px;
        }
        .lider{
            margin: 2em;
            margin-left: 34em;
        }
        .discorrer textarea {
            margin-top: 3em;
            width: 70%;
            height: 15em;
        }
        footer{
            color: #989898;
            margin: 8em;
            text-align: center;
            font-family: "Poppins", sans-serif;
        }
        footer p{
            color: #989898;
            margin: 10px 0;
        }
        div.info{
            display: flex;
        }

        @media (max-width: 1024px) {
            .infos_colab label {
                margin-left: 0;
                font-family: Inter;
                font-size: 20px;
                font-weight: bold;
            }
            .infos_colab img{
                width: 30%;
                padding-top: 25px;
                padding-left: 6em;
            }
            .infos_colab{
                margin-left: 1em;
            }
            .infos_colab span {
                font-family: Inter;
                font-size: 1em;
                margin-right: 10px;
                }

            main {
                background-color: white; 
                border-radius: 60px 60px 0 0; 
                margin-top: -100px; 
                padding-top: 2em;
            }
            main button{
                text-align: center;
                margin-left: 22em;
            }
            .infos_colab input {
                width: 100%;
                width: 20em;
                background: transparent;
                border-bottom: 1px solid #a8d34a;
                font-size: 20px;
                padding: 5px 0;
                outline: none;
                margin-top: 30px;
            }
            .senha{
                margin-left: 1em;
                gap: 2em;
                display: flex;
                margin-top: 2em;
            }
            .profissao textarea {
                margin-top: 3em;
                width: 60%;
                height: 2em;
            }
            .lider{
                margin: 2em;
                margin-left: 10em;
            }
            main button{
                margin-left: 18em;
            }
        }

        @media (max-width: 768px) {
            
            .gerenc_colab h1{
                font-size: 30px;
            }
            .infos_colab {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                padding: 1em 0;
            }
            .foto {
                order: -1;
                margin-bottom: 1em;
                text-align: center;
                padding-bottom: 3em;
            }
            .foto img {
                width: 40%;
                
            }
            .foto p {
                font-size: 15px;
                margin: 0;
                padding-top: 0.5em;
                text-align: center;
                margin-right: 10px;
            }
            .infos {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .infos_colab input {
                max-width: 90%;
                margin-top: 1em;
            }
            main {
                background-color: white; 
                border-radius: 60px 60px 0 0; 
                margin-top: -50px; 
                padding-top: 2em; 
                box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
            }
            main button{
                text-align: center;
                margin-left: 13em;
            }
            footer p{
                margin: 10px 0;
            }
            .lider{
                margin: 2em;
                margin-left: 7em;
            }
            main button{
                margin-left: 10em;
            }
            footer{
                padding-top: 2em;
            }
        }
 
    </style>
{% endblock %}

{% block content %}
<main>
    <div class="parte1">
        <div class="lider_colab">
            <a href="lider-manage">
                <img src="{% static 'img/seta.png' %}" alt="seta" width="20">
            </a>
            <h1>Editar Líder</h1>
        </div>
        <form method="POST" enctype="multipart/form-data" action="{% url 'lider-edit' lider.email %}">
                {% csrf_token %}
                <div class="info">
                    <div class="info1">
                        <label>Nome:</label> <br>
                        <input type="text" name="nome" value="{{ lider.nome }}" required><br>

                        <label>Senha:</label><br>
                        <input type="text" name="senha" value="{{ lider.senha }}" required readonly><br>
                    </div>
                    <div class="info2">
                        <div class="foto">
                            <label>Foto Atual:</label><br>
                            <img src="{{ lider.foto.url }}" alt="Foto do Líder" width="150"><br>

                            <label>Nova Foto:</label><br>
                            <input class="nova_foto" type="file" name="foto"><br>
                        </div>
                    </div>
                </div>
    </div>
        <div class="profissao">
            <label>Profissão:</label><br>
            <textarea id="profissao" name="profissao" placeholder="{{ lider.profissao }}" required></textarea><br>

        </div>
        <button type="submit">Salvar</button>
    </form>
</main>
<footer>
    <p>Criado e desenvolvido pela equipe X, todos os direitos autorais são <br> destinados a SIMM Soluções.</p>
</footer>

<script>
    // Upload de imagem
    const imagem_principal = document.querySelector('#imagem-principal-colaborador')
    const upload_imagem = document.querySelector('#upload-imagem-colaborador')

    imagem_principal.addEventListener('click', () => {
        upload_imagem.click()
    })

    upload_imagem.addEventListener('change', (Event) => {
        if (Event.target.files && Event.target.files[0]) {
            const nova_imagem = URL.createObjectURL(Event.target.files[0])
            imagem_principal.src = nova_imagem
        }
    })

    // Verificar campos preenchidos
    const campos_preenchidos = document.querySelectorAll('.form-colab input[required], .form-colab select[required]')
    const botao_salvar = document.querySelector('#botao-salvar-colab')

    function verificar() {
        const todos_preenchidos = Array.from(campos_preenchidos).every(campo => campo.value.trim() !== '')
        botao_salvar.disabled = !todos_preenchidos
    }

    campos_preenchidos.forEach(campo => {
        campo.addEventListener('input', verificar)
        campo.addEventListener('change', verificar)
    })

    verificar()

    // Auto-redimensionamento do textarea
    const texto = document.querySelector('#dado-desc')

    texto.addEventListener('input', function() {
        this.style.height = 'auto'
        this.style.height = this.scrollHeight + 'px'
    })

    // Formatar senha
    function senha_format(input) {
        let value = input.value.replace(/\D/g, '')
        if (value.length > 11) {
            value = value.substring(0, 11)
        }
        value = value.replace(/(\d{3})(\d)/, '$1.$2')
        value = value.replace(/(\d{3})(\d)/, '$1.$2')
        value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2')

        input.value = value
    }
</script>

{% endblock %}